<h1 class="header-title">Hacker News</h1>

<input
  class="frmSearch"
  type="text"
  [(ngModel)]="searchQuery"
  placeholder="Search stories"
  (change)="onSearch()"
/>
<button class="btnSearch" (click)="onSearch()">Search</button>

<div *ngIf="isLoading; else dataContent">
  <p>Loading...</p>
</div>

<ng-template #dataContent>
  <div *ngIf="errorMessage; else showData">
    <p>{{ errorMessage }}</p>
  </div>
  <ng-template #showData>
    <div *ngFor="let story of paginatedStories">
      <div>
        <p>
          {{ story.title }}
          <a *ngIf="story.url" [href]="story.url" target="_blank"
            >click here to view</a
          >
          <a *ngIf="!story.url">link not available</a>
        </p>
      </div>
    </div>
  </ng-template>

  <div>
    <button
      class="btnPrev"
      (click)="currentPage = currentPage - 1"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    <button
      class="btnNext"
      (click)="currentPage = currentPage + 1"
      [disabled]="currentPage * itemsPerPage >= stories.length"
    >
      Next
    </button>
  </div>
</ng-template>
