<h1 class="header-title">Hacker News</h1>

<input
  class="form-search"
  type="text"
  [(ngModel)]="searchQuery"
  placeholder="Search stories"
  (change)="onSearch()"
/>
<button class="button-search" (click)="onSearch()">Search</button>

<ng-container *ngIf="allStories$ | async as stories; else loading">
  <ng-container *ngIf="stories.length > 0; else noStories">
    <div *ngFor="let story of paginatedStories">
      <p>
        {{ story.title }}
        <a *ngIf="story.url" [href]="story.url" target="_blank"
          >click here to view</a
        >
        <a *ngIf="!story.url">link not available</a>
      </p>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>

<ng-template #noStories>
  <p>No stories found</p>
</ng-template>

<div>
  <button
    class="button-previous"
    (click)="currentPage = currentPage - 1"
    [disabled]="currentPage === 1"
  >
    Previous
  </button>
  <button
    class="button-next"
    (click)="currentPage = currentPage + 1"
    [disabled]="currentPage * itemsPerPage >= stories.length"
  >
    Next
  </button>
  <div>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
  </div>
</div>
